
*{
    font-family: 'Optician Sans Regular', sans-serif;
    font-weight: 100;
    color:rgb(255, 255, 255);
    margin: 0;
    padding: 0;

}


.coming-soon{
    max-height: 100%;
    max-width: 100%;
    background-color: black;
}

.navbar{
    
    padding-top: 50px;
    text-align: center;
    font-size: 1.3rem;

}

.nav-logo{
    width: auto;
    position: absolute;
    left: 5%;
    align-items: ;


}

.nav-list{
    list-style: none;
    text-decoration-line: line-through;



}

.nav-list li{
    padding: 20px;
    display: inline-block;

}

.nav-list li a{
    text-decoration: underline rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms;
}

.nav-list li a:hover{
    text-decoration-color: rgb(255, 255, 255)
}

.main{

    display: grid; 
    grid-template-columns: 5% 30% 65%; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . ."
      ". . ."
      ". . ."; 

    text-align: left;
}

.title{
    grid-column: 2;
    grid-row: 3;
    left: 0px;

}

.main-title{

    font-size: 7rem;

}

.main-sub{
    font-size: 1.7rem;

}